body {
  margin: 0;
  background-color: white;
}

h1 {
  font-size: 5vw;
  color: white !important;
  background-color: #222;
  position: relative;
  z-index: -1;
  text-align: center;
  font-family: "Bitter";
  border-bottom: 5px solid #f79420;
  padding: 2vw;
  margin-top: 0px;
  margin-bottom: 0px;
}

.logo {
  position: absolute;
  padding: 1vw;
  height: 8vw;
}

h2 {
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.row {
  padding: 0 30px;
  /* flex: 0 1 auto; */
  /* max-width: 700px; */
}

@media only screen and (min-width: 768px) {
  .row {
    max-width: 700px;
  }
}

.cartoon {
  border-left: 5px solid #f79420;
  border-right: 5px solid #f79420;
  border-top-style: none;
  border-bottom: 5px solid #f79420;
  width: 100%;
}

.oxygen {
  font-family: "Oxygen";
  color: #222 !important;
}

p {
  font-size: 2vw;
}

/* .center-element {
  display: block;
} */

.fa {
  padding: 20%;
  font-size: 3vw;
  width: 150%;
  max-width: 100px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-envelope {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

.fa-codepen {
  background: black;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
