body {
  margin: 0;
  background-color: white;
}

h1 {
  font-size: 5vw;
  color: white !important;
  background-color: #222;
  position: relative;
  z-index: -1;
  text-align: center;
  font-family: "Bitter";
  border-bottom: 5px solid #f79420;
  padding: 2vw;
  margin-top: 0px;
  margin-bottom: 0px;
}

.logo {
  position: absolute;
  padding: 1vw;
  height: 8vw;
}

h2 {
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.row {
  padding: 0 30px;
  width: 100%;
  /* flex: 0 1 auto; */
  /* max-width: 700px; */
}

@media only screen and (min-device-width: 768px) {
  .row {
    width: 60%;
  }
}

.cartoon {
  border-left: 5px solid #f79420;
  border-right: 5px solid #f79420;
  border-top-style: none;
  border-bottom: 5px solid #f79420;
  width: 100%;
}

.oxygen {
  font-family: "Oxygen";
  color: #222 !important;
}

.link {
  color: #222 !important;
}

p {
  font-size: 1.5vw;
  line-height: 1.58;
}

.quote {
  font-style: italic;
  margin: 30px;
  font-size: 2vw;
}

.icon-row {
  margin: 30px 0;
  height: 100px;
  display: flex; 
  justify-content: space-between; 
}

.flex-end {
  align-self: flex-end;
}
/* .icon-row:hover {
  .flex-end {
    align-self: flex-end;
  }
} */

.fas,
.fab {
  font-size: 5vw;
  text-align: center;
  text-decoration: none;
  color: #222;
}

.fas:hover,
.fab:hover {
  color: #f79420;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 2.5vw 2.5vw 0; 
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.footer {
  border-bottom: 5px solid #f79420;
}